# Where my bundles are built - OP
/[Oo]P AssetBundles
/[Oo]P AssetBundles/iOS
/[Oo]P AssetBundles/Android
/[Oo]P Filtered Bundles (iOS)
/[Oo]P Filtered Bundles (Android)
Filter.py
Filter Run funni.bat
